<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Total Crash</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar1.data" labels="bar1.labels" series="bar1.series"
          options="bar1.options"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Screen-Wise Crash Distribution</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar2.data" labels="bar2.labels" series="bar2.series"
          options="bar2.options"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Crash-Wise Crash Distribution</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar3.data" labels="bar3.labels" series="bar3.series"
          options="bar3.options"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">OS-Wise Crash Distribution</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar5.data" labels="bar5.labels" series="bar5.series"
          options="bar5.options"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Network-Wise Crash Distribution</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar4.data" labels="bar4.labels" series="bar4.series"
          options="bar4.options"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Device-Wise Crash Distribution</div>
      <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" data="bar6.data" labels="bar6.labels" series="bar6.series"
          options="bar6.options"></canvas>
      </div>
    </div>
  </div>
</div>
